body {
    background-color: rgba(242, 207, 207, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
}

/* Navbar */
.navbar {
    background-color: #FFFFFF;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    float: left;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .logo img {
    float: left;
    height: 40px; 
    width: auto;
}

.profile-pic {
    width: auto;
    height: 40px;
    border-radius: 50%;
}

/* Container utama */
.container {
    display: flex;
    padding: 80px 300px;
    justify-content: center;
}

/* Sidebar */
.sidebar {
    width: 150px;
    padding-top: 40px;
    background-color: rgba(248, 248, 248, 0.1);
    border-radius: 12px;
    margin-right: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-btn {
    width: 100%;
    padding: 12px;
    background-color: rgba(229, 184, 184, 0.8);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 0px;
    transition: background-color 0.2s ease;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar-menu li.active,
.sidebar-menu li:hover {
    background-color: rgba(229, 184, 184, 0.8);
    color: white;
}

/* Konten utama */
.main-content {
    flex: 1;
}

.main-content h1 {
    font-size: 30px;
    color: rgba(229, 184, 184, 0.8);
    margin-bottom: 20px;
}

/* Card */
.card {
    background-color: rgba(255, 255, 255, 1);
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Form-wrapper untuk avatar dan form agar sejajar secara horizontal */
.form-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

/* Avatar */
.password-avatar {
    display: flex;
    justify-content: flex-start; /* Biar foto ada di kiri */
    margin-bottom: 20px;
}

.avatar-big {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

form label {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
}

form input {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

form input:focus {
    border-color: rgba(229, 184, 184, 0.8);
    outline: none;
}

/* Tombol */
.btn-simpan,
.sidebar-btn {
    background-color: rgba(229, 184, 184, 0.8);
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: 500;
    margin-top: 40px;
    align-self: flex-end;
}

.btn-simpan:hover,
.sidebar-btn:hover {
    background-color: #f1b9b9;
}

.btn-simpan:active,
.sidebar-btn:active {
    background-color: #fae4e4;
}
