body {
    background-image: url('HAMIL.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    
}

.navbar {
    background-color: #FFFFFF;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000; 
    width: 100%;
}

.navbar a {
    float: left;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 100;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 30;
}


.navbar .logo img {
    float: left;
    height: 40px; 
    width: auto;
}

.navbar .btn-login {
    margin-left: auto; 
    background-color: #f0dee2;
    border: 1px solid white;
    border-radius: 60px;
    height : 10px;
    width: auto;
}


.navbar .btn-signup {
    background-color: #f0dee2;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    border-radius: 60px;
    height : 10px;
    width: auto;
}


.navbar .btn-login:hover {
    background-color: #d8b7b7;
    color: #000000;
}

.navbar .btn-signup:hover {
    background-color: #d8b7b7;
}

h1 {
    padding-top: 60px;
    font-size: 45px;
    color: #FFFFFF;
    margin-bottom: 5px;
}


h2 {
    font-size: 35px;
    color: #FFFFFF;
    font-weight: normal;
    margin-top: 0;
}

p {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 15px;
}


p b {
    font-size: 25px;
    color: #FFFFFF;
}

.hero {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 40px;
    padding-bottom: 60px;
}


.hero-left {
    max-width: 500px; 
    padding: 20px;
    text-align: left;
    margin-left : 80px;
}

.hero-bottom {
    text-align: center;
    margin-bottom: 130px;
}

.hero-bottom p {
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}


#started {
    background-color: #73c7c7;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: center;
}

#started:hover {
    background-color: #658080;
}


#download {
    background-color: #73c7c7;
    color: white;
    margin-top: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#download:hover {
    background-color: #6a8b8b;
}

.nav-link.active {
    color: #f0bfca;
    font-weight: bold;
}